Repository The-Gleaners/streaming-system, pull requests merged in 2023-05, with the labels that each got.

#33 feature/#10 : 로더 패키지 작성, 카프카/몽고 의존성
  build.gradle
  loader/build.gradle
  loader/src/main/java/gleaners/loader/LoaderApplication.java
  loader/src/main/java/gleaners/loader/domain/Product.java
  loader/src/main/java/gleaners/loader/infrastructure/kafka/KafkaConfig.java
  loader/src/main/java/gleaners/loader/port/KafkaConsumer.java
Labels: feature, loader-module

#35 feature/#34 : 다운로드 모듈 다운로드 기능 개발
  .gitignore
  build.gradle
  downloader/build.gradle
  downloader/src/main/java/gleaners/domain/DownloadTarget.java
  downloader/src/main/java/gleaners/domain/Product.java
  downloader/src/main/java/gleaners/infrastructure/kafka/KafkaConfig.java
  downloader/src/main/java/gleaners/infrastructure/kafka/ReceiverRecordException.java
  downloader/src/main/java/gleaners/port/DownloadTargetReceiver.java
  downloader/src/main/java/gleaners/port/KafkaConsumer.java
  downloader/src/main/java/gleaners/port/KafkaProducer.java
  downloader/src/main/java/gleaners/port/ProductSender.java
  downloader/src/main/java/gleaners/usecase/DownloadTask.java
  downloader/src/main/java/gleaners/usecase/Downloader.java
  downloader/src/main/resources/application.yml
  downloader/src/test/java/gleaners/port/KafkaReceiverTest.java
  downloader/src/test/java/gleaners/support/ReactiveKafkaIntegrationTests.java
  downloader/src/test/java/gleaners/usecase/DownloadTaskTest.java
  downloader/src/test/java/gleaners/usecase/DownloaderTest.java
Labels: feature, downloader-module

#39 bugfix/#38 : KafkaConfig에 등록되는 Sender, Receiver 빈이름 변경
  downloader/src/main/java/gleaners/infrastructure/kafka/KafkaConfig.java
Labels: bug, downloader-module

#45 docs: 중복된 템플릿 삭제
  .github/ISSUE_TEMPLATE/feature issue.md
  .github/ISSUE_TEMPLATE/research issue.md
Labels: bug

#46 feature/#4 : 다운로드 인증 로직 추가
  downloader/src/main/java/gleaners/domain/DownloadTarget.java
  downloader/src/main/java/gleaners/port/KafkaReceiver.java
  downloader/src/main/java/gleaners/usecase/Downloader.java
  downloader/src/test/java/gleaners/usecase/DownloaderTest.java
Labels: downloader-module

#40 feature/#36 : 스키마 레지스트리 모듈 추가 및 관련 설정 변경
  avro/build.gradle.kts
  avro/src/main/java/gleaners/avro/download_target.avsc
  avro/src/main/java/gleaners/avro/product.avsc
  build.gradle
  downloader/build.gradle
  downloader/src/main/java/gleaners/domain/DownloadTarget.java
  downloader/src/main/java/gleaners/domain/Product.java
  downloader/src/main/java/gleaners/infrastructure/kafka/KafkaConfig.java
  downloader/src/main/java/gleaners/port/DownloadTargetReceiver.java
  downloader/src/main/java/gleaners/port/KafkaReceiver.java
  downloader/src/main/java/gleaners/port/ProductSender.java
  downloader/src/main/java/gleaners/usecase/DownloadTask.java
  downloader/src/main/java/gleaners/usecase/Downloader.java
  downloader/src/main/resources/application.yml
  downloader/src/test/java/gleaners/usecase/DownloadTaskTest.java
  downloader/src/test/java/gleaners/usecase/DownloaderTest.java
  settings.gradle
Labels: feature, downloader-module

#51 bugfix/#50 : build.gradle 버그 수정
  avro/build.gradle.kts
  build.gradle
Labels: bug
